@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: aliceblue;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 50vh;
}

h1 {
    display: flex;
     justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}

.c1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 700;

}

.c1:hover{
        font-size: 70px;
    font-weight: 900;
     transition: all 0.3s ease;
}
.btn1{
    display: flex;
    justify-content: center;
}

button{
    font-size: 16px;
      border: 2px solid transparent;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    padding: 0px 0px;
    margin: 5px;
        justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.reset button {
    background: white;       
    color: black;           
    border: 2px solid black; 
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

.add{
    background: rgb(116, 148, 116);
    color: rgb(240, 240, 240);
}
.minus{
     background: rgb(42, 26, 26);
        color: rgb(240, 240, 240);
}

button:hover{
     border: 2px solid black;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    padding: 0px 0px;
    margin: 6px;
        justify-content: center;
    align-items: center;
    cursor: pointer;
}
.b2:hover {
      border: 2px solid transparent;
  width: 150px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 0px;
    margin: 6px;
        justify-content: center;
    align-items: center;
    cursor: pointer;
}


