body {
  font-family: monospace;
  background: aliceblue;
  margin: 0px;
  height: 100vh;
    display: flex;
  justify-content: start;
  align-items: start;
}
.mainCard {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 10px;
}
.card {
  height: 40px;
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
}
